.universities-container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.universities-container a {
  text-decoration: none;
}

.universities-container a:hover {
  text-decoration: underline;
}

.universities-container p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.universities-container ul {
  padding: 0;
  margin: 0;
}

.universities-container li {
  list-style: none;
}
